:root {
    --background: 255, 255, 255;
    --text: 0, 0, 0;
}

@media (prefers-color-scheme:dark) {
    :root {
        --background: 25, 27, 33;
        --text: 228, 233, 244;
    }
}

html {
    font-family: "Segoe UI", "Ubuntu", "Roboto", "Noto Sans", "Droid Sans", sans-serif;
    background-color: rgba(var(--background));
    color: rgba(var(--text), .9);
    display: flex;
    justify-content: center;
}

body {
    margin: 30px;
    font-size: 16px;
    max-width: 800px;
    line-height: 1.5;
}

a {
    color: rgba(var(--text), .6);
    text-decoration: 1px dotted underline; 
    padding: 0 0px;
    border-radius: 2px;
}

li {
    color: rgba(var(--text), .5);
    font-size: .8rem;
    margin: 8px 0px;
}

code {
    font-size: .8rem;
    background-color: rgba(var(--text), .1);
    padding: 1px 4px;
    opacity: .6;
}